/***************************/
/* general properties */
/***************************/
@define-color background-color #24283b;
@define-color accent-color #bb9af7;
@define-color border-color #000000;
@define-color font-color-dark #24283b;
@define-color font-color-light #ffffff;

* {
  all: unset;
  font-family: "JetBrainsMono Nerd Font", monospace;
  font-size: 14px;
}

/***************************/
/* left modules */
/***************************/
#custom-logo {
  color: @font-color-dark;
  font-size: 20px;
  margin: 0px 1px 0px 1px;
  padding: 0px 12px 0px 5px;
  background-color: @accent-color;
  border-radius: 10px;
  border: 2px solid @border-color;
}

#mpris {
  color: @font-color-light;
  margin: 0px 1px 0px 1px;
  padding: 0px 10px 0px 5px;
  background-color: @background-color;
  border-radius: 10px;
  border: 2px solid @border-color;
}

#keyboard-state label {
  color: @font-color-light;
  margin: 0px 1px 0px 1px;
  padding: 0px 15px 0px 10px;
  background-color: @background-color;
  border-radius: 10px;
  border: 2px solid @border-color;
}
#keyboard-state label.locked {
  padding: 0px 14px 0px 11px;
  background-color: red;
}

#custom-recording {
  color: red;
  font-size: 20px;
  margin: 0px 1px 0px 1px;
  padding: 0px 10px 0px 10px;
  background-color: @background-color;
  border-radius: 10px;
  border: 2px solid @border-color;
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes blink {
  0% {
    color: @background-color;
  }
  50% {
    color: red;
  }
  100% {
    color: @background-color;
  }
}

/***************************/
/* center modules */
/***************************/
#workspaces {
  color: @font-color-light;
  margin: 0px 1px 0px 1px;
  background-color: @background-color;
  border-radius: 10px;
  border: 2px solid @border-color;
}
#workspaces button {
  min-height: 0px;
  min-width: 0px;
  padding: 0px 10px 0px 10px;
}
#workspaces button.active {
  color: @font-color-dark;
  font-weight: bold;
  background-color: @accent-color;
  border-radius: 7px;
}

/***************************/
/* right modules */
/***************************/
#pulseaudio {
  color: @font-color-light;
  margin: 0px 1px 0px 1px;
  padding: 0px 5px 0px 5px;
  background-color: @background-color;
  border-radius: 10px;
  border: 2px solid @border-color;
}

#backlight {
  color: @font-color-light;
  margin: 0px 1px 0px 1px;
  padding: 0px 12px 0px 10px;
  background-color: @background-color;
  border-radius: 10px;
  border: 2px solid @border-color;
}

#cpu {
  color: @font-color-light;
  margin: 0px 1px 0px 1px;
  padding: 0px 10px 0px 5px;
  background-color: @background-color;
  border-radius: 10px;
  border: 2px solid @border-color;
}

#memory {
  color: @font-color-light;
  margin: 0px 1px 0px 1px;
  padding: 0px 10px 0px 5px;
  background-color: @background-color;
  border-radius: 10px;
  border: 2px solid @border-color;
}

#temperature {
  color: @font-color-light;
  margin: 0px 1px 0px 1px;
  padding: 0px 5px 0px 5px;
  background-color: @background-color;
  border-radius: 10px;
  border: 2px solid @border-color;
}

#battery {
  color: @font-color-light;
  margin: 0px 1px 0px 1px;
  padding: 0px 10px 0px 5px;
  background-color: @background-color;
  border-radius: 10px;
  border: 2px solid @border-color;
}
#battery.charging {
  color: @font-color-dark;
  background-color: lightgreen;
}
#battery.full {
  color: @font-color-dark;
  background-color: lightblue;
}

#clock {
  color: @font-color-dark;
  font-weight: bold;
  margin: 0px 1px 0px 1px;
  padding: 0px 5px 0px 5px;
  background-color: @accent-color;
  border-radius: 10px;
  border: 2px solid @border-color;
}
